/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
.debug {
    border: 1px solid black;
}
ul {
    list-style: none;
}
:root {
	--color-bg-viewport: #000000;
	--color-secondary: #ffffff;
	--color-red-text: #ee1512;
	--color-share-screen: #4bc800;
	--color-toolbar: #222222;
}